### Q1. Scrape the details of most viewed videos on YouTube from Wikipedia.
### Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
### You need to find following details:
### A) Rank
### B) Name
### C) Artist
### D) Upload date
### E) Views

In [38]:
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup

#Importing selenium webdriver
from selenium import webdriver

from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException

import requests
from selenium.webdriver.common.by import By

In [39]:
#Connecting to driver
driver=webdriver.Chrome(r"C:\Users\lenovo\Downloads\chromedriver_win32")

C:\Users\lenovo\AppData\Local\Temp\ipykernel_6296\2226573296.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r"C:\Users\lenovo\Downloads\chromedriver_win32")

In [40]:
#Visiting the website
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [76]:
rank=[]
name=[]
artist=[]
date=[]
views=[]

In [77]:
#for Ranks
try :
    r=driver.find_elements(By.XPATH,'//div[@class="mw-parser-output"]/table[2]/tbody/tr/td')
    for i in r[0:181:6]:
        rank.append(i.text)
except NoSuchElementException :
    rank.append('-')
#for Names
try :
    n=driver.find_elements(By.XPATH,'//div[@class="mw-parser-output"]/table[2]/tbody/tr/td')
    for i in n[1:181:6]:
        name.append(i.text.split('[')[0])
except NoSuchElementException :
    name.append('-')
#for Artists
try :
    rr=driver.find_elements(By.XPATH,'//div[@class="mw-parser-output"]/table[2]/tbody/tr/td')
    for i in rr[2:181:6]:
        artist.append(i.text)
except NoSuchElementException :
    artist.append('-')
#for Date
try :
    d=driver.find_elements(By.XPATH,'//div[@class="mw-parser-output"]/table[2]/tbody/tr/td')
    for i in d[4:181:6]:
        date.append(i.text)
except NoSuchElementException :
    date.append('-')
#for Views
try :
    v=driver.find_elements(By.XPATH,'//div[@class="mw-parser-output"]/table[2]/tbody/tr/td')
    for i in v[3:181:6]:
        views.append(i.text)
except NoSuchElementException :
    views.append('-')

In [78]:
df=pd.DataFrame({'Rank':rank,'Video Name':name,'Artist':artist,'Views(Billion)':views,'Publication date':date})

In [79]:
df

,Rank,Video Name,Artist,Views(Billion),Publication date
0,1.,"""Baby Shark Dance""",Pinkfong Baby Shark - Kids' Songs & Stories,12.85,"June 17, 2016"
1,2.,"""Despacito""",Luis Fonsi,8.16,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""",LooLoo Kids,6.70,"October 8, 2016"
3,4.,"""Bath Song""",Cocomelon – Nursery Rhymes,6.20,"May 2, 2018"
4,5.,"""Shape of You""",Ed Sheeran,6.00,"January 30, 2017"
5,6.,"""See You Again""",Wiz Khalifa,5.89,"April 6, 2015"
6,7.,"""Phonics Song with Two Words""",ChuChu TV,5.30,"March 6, 2014"
7,8.,"""Wheels on the Bus""",Cocomelon – Nursery Rhymes,5.24,"May 24, 2018"
8,9.,"""Uptown Funk""",Mark Ronson,4.92,"November 19, 2014"
9,10.,"""Learning Colors – Colorful Eggs on a Farm""",Miroshka TV,4.89,"February 27, 2018"
10,11.,"""Gangnam Style""",Psy,4.80,"July 15, 2012"
11,12.,"""Masha and the Bear – Recipe for Disaster""",Get Movies,4.55,"January 31, 2012"
12,13.,"""Dame Tu Cosita""",El Chombo,4.35,"April 5, 2018"
13,14.,"""Axel F""",Crazy Frog,3.91,"June 16, 2009"
14,15.,"""Sugar""",Maroon 5,3.87,"January 14, 2015"
15,16.,"""Roar""",Katy Perry,3.80,"September 5, 2013"
16,17.,"""Counting Stars""",OneRepublic,3.79,"May 31, 2013"
17,18.,"""Sorry""",Justin Bieber,3.66,"October 22, 2015"
18,19.,"""Baa Baa Black Sheep""",Cocomelon – Nursery Rhymes,3.64,"June 25, 2018"
19,20.,"""Thinking Out Loud""",Ed Sheeran,3.60,"October 7, 2014"
20,21.,"""Waka Waka (This Time for Africa)""",Shakira,3.59,"June 4, 2010"
21,22.,"""Dark Horse""",Katy Perry,3.52,"February 20, 2014"
22,23.,"""Lakdi Ki Kathi""",Jingle Toons,3.48,"June 14, 2018"
23,24.,"""Faded""",Alan Walker,3.45,"December 3, 2015"
24,25.,"""Perfect""",Ed Sheeran,3.45,"November 9, 2017"
25,26.,"""Let Her Go""",Passenger,3.44,"July 25, 2012"
26,27.,"""Girls Like You""",Maroon 5,3.42,"May 31, 2018"
27,28.,"""Humpty the train on a fruits ride""",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,3.41,"January 26, 2018"
28,29.,"""Lean On""",Major Lazer,3.38,"March 22, 2015"
29,30.,"""Bailando""",Enrique Iglesias,3.38,"April 11, 2014"

### 2. Scrape the details team India’s international fixtures from bcci.tv.
### Url = https://www.bcci.tv/.
### You need to find following details:
### A) Match title (I.e. 1st ODI)
### B) Series
### C) Place
### D) Date
### E) Time
### Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [4]:
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup

#Importing selenium webdriver
from selenium import webdriver

from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException

import requests
from selenium.webdriver.common.by import By

In [6]:
#Connecting to driver
driver=webdriver.Chrome(r"C:\Users\lenovo\Downloads\chromedriver_win32")
#Visiting the website
driver.get('https://www.bcci.tv/')

C:\Users\lenovo\AppData\Local\Temp\ipykernel_7516\2036329996.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r"C:\Users\lenovo\Downloads\chromedriver_win32")

In [7]:
driver.find_element(By.XPATH,'//*[@id="navigation"]/ul[1]/li[2]/a').click()

In [30]:
Title=[]
Series=[]
Place=[]
Date=[]
Time=[]

In [31]:
# For Match title
try :
    title=driver.find_element(By.XPATH,'//*[@id="match-card"]/div[1]/h5')
    Title.append(title.text)
except NoSuchElementException :
    Title.append('-')
# For Series
try :
    series=driver.find_element(By.XPATH,'//*[@id="match-card"]/div[1]/h5')
    Series.append(series.text.split('D')[1].split('C')[0])
except NoSuchElementException :
    Series.append('-')
# For Place
try :
    place=driver.find_element(By.XPATH,'//*[@id="match-card"]/div[3]/div')
    Place.append(place.text.split('-')[1])
    
except NoSuchElementException :
    Place.append('-')
# For Date
try :
    date=driver.find_element(By.XPATH,'//*[@id="match-card"]/div[1]/div/div[1]')
    Date.append(date.text)
    
except NoSuchElementException :
    Date.append('-')
# For Time
try :
    time=driver.find_element(By.XPATH,'//*[@id="match-card"]/div[1]/div/div[2]')
    Time.append(time.text)
    
except NoSuchElementException :
    Time.append('-')

In [33]:
df=pd.DataFrame({'Match Title':Title,'Series':Series,'Place':Place,'Date':Date,'Time':Time})

In [34]:
df

,Match Title,Series,Place,Date,Time
0,ICC WORLD TEST CHAMPIONSHIP FINAL 2023,TEST,"Kennington Oval, London",7 JUN 2023,3:30 PM IST

### 3. Scrape the details of State-wise GDP of India from statisticstime.com.
### Url = http://statisticstimes.com/
### You have to find following details:
### A) Rank
### B) State
### C) GSDP(18-19)- at current prices
### D) GSDP(19-20)- at current prices
### E) Share(18-19)
### F) GDP($ billion)
### Note: - From statisticstimes home page you have to reach to economy page through code.

In [93]:
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup

#Importing selenium webdriver
from selenium import webdriver

from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException

import requests
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import Select

In [94]:
#Connecting to driver
driver=webdriver.Chrome(r"C:\Users\lenovo\Downloads\chromedriver_win32")

C:\Users\lenovo\AppData\Local\Temp\ipykernel_6296\2226573296.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r"C:\Users\lenovo\Downloads\chromedriver_win32")

In [95]:
#Visiting the website
driver.get('https://www.statisticstimes.com/')

In [101]:
driver.find_element(By.XPATH,'//*[@id="top"]/div[2]/div[2]/button').click()

In [102]:
driver.find_element(By.XPATH,'//*[@id="top"]/div[2]/div[2]/div/a[3]').click()

In [103]:

driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a').click()

In [123]:
Rank=[]
State=[]
GSDP1=[]
GSDP2=[]
Share=[]
GDP=[]

In [124]:
#for Ranks
try :
    rank=driver.find_elements(By.XPATH,'//div[@id="main"]/div[5]/div/div/table/tbody/tr/td')
    for i in rank[0:264:8]:
        Rank.append(i.text)
except NoSuchElementException :
    Rank.append('-')
#for State
try :
    state=driver.find_elements(By.XPATH,'//div[@id="main"]/div[5]/div/div/table/tbody/tr/td')
    for i in state[1:264:8]:
        State.append(i.text.split('[')[0])
except NoSuchElementException :
    State.append('-')
#for GSDP1
try :
    gsdp1=driver.find_elements(By.XPATH,'//div[@id="main"]/div[5]/div/div/table/tbody/tr/td')
    for i in gsdp1[3:264:8]:
        GSDP1.append(i.text)
except NoSuchElementException :
    GSDP1.append('-')
#for GSDP2
try :
    gsdp2=driver.find_elements(By.XPATH,'//div[@id="main"]/div[5]/div/div/table/tbody/tr/td')
    for i in gsdp2[2:264:8]:
        GSDP2.append(i.text)
except NoSuchElementException :
    GSDP2.append('-')
#for Share
try :
    share=driver.find_elements(By.XPATH,'//div[@id="main"]/div[5]/div/div/table/tbody/tr/td')
    for i in share[4:264:8]:
        Share.append(i.text)
except NoSuchElementException :
    Share.append('-')
# GDP
try :
    gdp=driver.find_elements(By.XPATH,'//div[@id="main"]/div[5]/div/div/table/tbody/tr/td')
    for i in gdp[5:264:8]:
        GDP.append(i.text)
except NoSuchElementException :
    GDP.append('-')

In [125]:
df=pd.DataFrame({'Rank':Rank,'State':State,'GSDP(18-19)- at current prices':GSDP1,'GSDP(19-20)- at current prices':GSDP2,'Share(18-19)':Share,'GDP($ billio)':GDP})

In [126]:
df

,Rank,State,GSDP(18-19)- at current prices,GSDP(19-20)- at current prices,Share(18-19),GDP($ billio)
0,1,Maharashtra,"2,632,792",-,13.94%,399.921
1,2,Tamil Nadu,"1,630,208","1,845,853",8.63%,247.629
2,3,Uttar Pradesh,"1,584,764","1,687,818",8.39%,240.726
3,4,Gujarat,"1,502,899",-,7.96%,228.290
4,5,Karnataka,"1,493,127","1,631,977",7.91%,226.806
5,6,West Bengal,"1,089,898","1,253,832",5.77%,165.556
6,7,Rajasthan,"942,586","1,020,989",4.99%,143.179
7,8,Andhra Pradesh,"862,957","972,782",4.57%,131.083
8,9,Telangana,"861,031","969,604",4.56%,130.791
9,10,Madhya Pradesh,"809,592","906,672",4.29%,122.977
10,11,Kerala,"781,653",-,4.14%,118.733
11,12,Delhi,"774,870","856,112",4.10%,117.703
12,13,Haryana,"734,163","831,610",3.89%,111.519
13,14,Bihar,"530,363","611,804",2.81%,80.562
14,15,Punjab,"526,376","574,760",2.79%,79.957
15,16,Odisha,"487,805","521,275",2.58%,74.098
16,17,Assam,"315,881",-,1.67%,47.982
17,18,Chhattisgarh,"304,063","329,180",1.61%,46.187
18,19,Jharkhand,"297,204","328,598",1.57%,45.145
19,20,Uttarakhand,"245,895",-,1.30%,37.351
20,21,Jammu & Kashmir,"155,956",-,0.83%,23.690
21,22,Himachal Pradesh,"153,845","165,472",0.81%,23.369
22,23,Goa,"73,170","80,449",0.39%,11.115
23,24,Tripura,"49,845","55,984",0.26%,7.571
24,25,Chandigarh,"42,114",-,0.22%,6.397
25,26,Puducherry,"34,433","38,253",0.18%,5.230
26,27,Meghalaya,"33,481","36,572",0.18%,5.086
27,28,Sikkim,"28,723","32,496",0.15%,4.363
28,29,Manipur,"27,870","31,790",0.15%,4.233
29,30,Nagaland,"27,283",-,0.14%,4.144
30,31,Arunachal Pradesh,"24,603",-,0.13%,3.737
31,32,Mizoram,"22,287","26,503",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

### 4. Scrape the details of trending repositories on Github.com.
### Url = https://github.com/
### You have to find the following details:
### A) Repository title
### B) Repository description
### C) Contributors count
### D) Language used
### Note: - From the home page you have to click on the trending option from Explore menu through code.

In [113]:
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup

#Importing selenium webdriver
from selenium import webdriver

from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException

import requests
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import Select

In [36]:
#Connecting to driver
driver=webdriver.Chrome(r"C:\Users\lenovo\Downloads\chromedriver_win32")
#Visiting the website
driver.get('https://github.com/')

C:\Users\lenovo\AppData\Local\Temp\ipykernel_7516\1289357361.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r"C:\Users\lenovo\Downloads\chromedriver_win32")

In [37]:

driver.find_element(By.XPATH,'//*[@id="feed-item-0"]/header/a').click()

In [60]:
Title=[]
Description=[]
Contributor=[]
Language=[]

In [61]:
#for Titles
try :
    title=driver.find_elements(By.XPATH,'//h2[@class="h3 lh-condensed"]')
    for i in title[0:24]:
        Title.append(i.text)
except NoSuchElementException :
    Title.append('-')
#for Description
try :
    description=driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
    for i in description:
        Description.append(i.text)
except NoSuchElementException :
    Description.append('-')
#for Contributor
try :
    contributor=driver.find_elements(By.XPATH,'//a[@class="Link--muted d-inline-block mr-3"]')
    for i in contributor[0:48:2]:
        Contributor.append(i.text)
except NoSuchElementException :
    Contributor.append('-')
#for Language
try :
    language=driver.find_elements(By.XPATH,'//span[@class="d-inline-block ml-0 mr-3"]')
    for i in language:
        Language.append(i.text)
except NoSuchElementException :
    Language.append('-')

In [64]:
df=pd.DataFrame({'Repository title':Title,'Repository description':Description,'Contributors count':Contributor,'Language used':Language})

In [65]:
df

,Repository title,Repository description,Contributors count,Language used
0,Zeqiang-Lai / DragGAN,"Online Demo and Implementation of DragGAN - ""D...","2,257",Python
1,JiauZhang / DragGAN,Implementation of DragGAN: Interactive Point-b...,"1,736",Python
2,google / comprehensive-rust,This is the Rust course used by the Android te...,"15,922",Rust
3,kyegomez / tree-of-thoughts,Plug in and Play Implementation of Tree of Tho...,"1,337",Python
4,microsoft / PowerToys,Windows system utilities to maximize productivity,"91,277",C#
5,psf / requests,"A simple, yet elegant, HTTP library.","49,690",Python
6,kanboard / kanboard,Kanban project management software,"7,488",PHP
7,microsoft / devhome,Windows Dev Home Application,"1,120",C#
8,dalathegreat / BYD-Battery-Emulator-For-Gen24,This software converts the LEAF CAN into Modbu...,204,C++
9,kamiyaa / joshuto,ranger-like terminal file manager written in Rust,"1,948",Rust
10,JushBJJ / Mr.-Ranedeer-AI-Tutor,A GPT-4 AI Tutor Prompt for customizable perso...,"8,868",JavaScript
11,NaiboWang / EasySpider,A visual no-code/code-free web crawler/spider一...,"7,061",JavaScript
12,chinese-poetry / chinese-poetry,The most comprehensive database of Chinese poe...,"40,749",Python
13,pengzhile / pandora,"潘多拉，一个让你呼吸顺畅的ChatGPT。Pandora, a ChatGPT that h...","9,129",Python
14,facebookresearch / fairseq,Facebook AI Research Sequence-to-Sequence Tool...,"25,492",Python
15,SkalskiP / courses,This repository is a curated collection of lin...,"2,524",C#
16,microsoft / semantic-kernel,Integrate cutting-edge LLM technology quickly ...,"9,313",Python
17,kreneskyp / ix,Autonomous GPT-4 agent platform,404,Python
18,OpenGVLab / InternGPT,InternGPT (iGPT) is an open source demo platfo...,"1,089",TypeScript
19,w-okada / voice-changer,リアルタイムボイスチェンジャー Realtime Voice Changer,"3,861",HTML
20,adams549659584 / go-proxy-bingai,用 Vue3 和 Go 搭建的微软 New Bing 演示站点，拥有一致的 UI 体验，支持...,"1,477",Python
21,opengeos / segment-geospatial,A Python package for segmenting geospatial dat...,"1,519",Python
22,Azure-Samples / azure-search-openai-demo,A sample app for the Retrieval-Augmented Gener...,"2,170",Jupyter Notebook
23,openai / openai-cookbook,Examples and guides for using the OpenAI API,"36,711",Python

### 5. Scrape the details of top 100 songs on billiboard.com.
### Url = https:/www.billboard.com/
### You have to find the following details:
### A) Song name
### B) Artist name
### C) Last week rank
### D) Peak rank
### E) Weeks on board
### Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [1]:
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup

#Importing selenium webdriver
from selenium import webdriver

from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException

import requests
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import Select

In [2]:
#Connecting to driver
driver=webdriver.Chrome(r"C:\Users\lenovo\Downloads\chromedriver_win32")
#Visiting the website
driver.get('http://www.billboard.com/')

C:\Users\lenovo\AppData\Local\Temp\ipykernel_5068\1406918779.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r"C:\Users\lenovo\Downloads\chromedriver_win32")

In [4]:
driver.find_element(By.XPATH,'//*[@id="main-wrapper"]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a').click()

In [5]:

driver.find_element(By.XPATH,'//*[@id="main-wrapper"]/main/div[2]/div[1]/div[1]/div/div/div[1]/div[1]/div[2]/span/a').click()

In [81]:
song=[]
artist=[]
rank=[]
prank=[]
board=[]

In [82]:

#for Song names
try :
    title=driver.find_elements(By.TAG_NAME,'h3')
    for i in title[7:405:4]:
        song.append(i.text)
except NoSuchElementException :
    song.append('-')

# for artist name
#for 1st song artist we use xpatho 1st artist because its different from other
t=driver.find_element(By.XPATH,'//*[@id="post-1479786"]/div[3]/div/div/div/div[2]/div[2]/ul/li[4]/ul/li[1]/span')
artist.append(t.text)
try:
    tt=driver.find_elements(By.XPATH,'//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only"]')
    for i in tt:
        artist.append(i.text)
except NoSuchElementException :
    artist.append('-')
# for Rank 
#for 1st rank we use xpatho 1st artist because its different from other
r=driver.find_element(By.XPATH,'//*[@id="post-1479786"]/div[3]/div/div/div/div[2]/div[2]/ul/li[4]/ul/li[4]/span')
rank.append(r.text)
try:
    rr=driver.find_elements(By.XPATH,'//span[@class="c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max"]')
    for i in rr[0:594:6]:
        rank.append(i.text)
except NoSuchElementException :
    rank.append('-')
# for Peak Rank 
#for 1st peak rank we use xpath of 1st artist because its different from other
p=driver.find_element(By.XPATH,'//*[@id="post-1479786"]/div[3]/div/div/div/div[2]/div[2]/ul/li[4]/ul/li[5]/span')
prank.append(p.text)
try:
    pp=driver.find_elements(By.XPATH,'//span[@class="c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max"]')
    for i in pp[1:594:6]:
        prank.append(i.text)
except NoSuchElementException :
    prank.append('-')
# for weeks on board 
#for 1st week on board we use xpath of 1st artist because its different from other
b=driver.find_element(By.XPATH,'//*[@id="post-1479786"]/div[3]/div/div/div/div[2]/div[3]/ul/li[4]/ul/li[6]/span')
board.append(b.text)
try:
    bb=driver.find_elements(By.XPATH,'//span[@class="c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max"]')
    for i in bb[2:594:6]:
        board.append(i.text)
except NoSuchElementException :
    board.append('-')

In [83]:
df=pd.DataFrame({'Song name':song,'Last week rank':rank,'Peak rank':prank,'Weeks on board':board})

In [84]:
df

          Song name Last week rank Peak rank Weeks on board
0        Last Night              1         1              1
1       All My Life              -         2              1
2           Flowers              3         1             18
3         Kill Bill              2         1             23
4   Ella Baila Sola              4         4              9
..              ...            ...       ...            ...
95          Forever             87         8             19
96  Private Landing            100        72              6
97          I Heard              -        98              1
98          Sunrise             89        30             11
99            Happy             95        54              6

[100 rows x 4 columns]

### 6. Scrape the details of Highest sellingnovels.
### Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare
### You have to find the following details:
### A) Book name
### B) Author name
### C) Volumes sold
### D) Publisher
### E) Genre

In [85]:
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup

#Importing selenium webdriver
from selenium import webdriver

from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException

import requests
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import Select

In [87]:
#Connecting to driver
driver=webdriver.Chrome(r"C:\Users\lenovo\Downloads\chromedriver_win32")

#Visiting the website
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

C:\Users\lenovo\AppData\Local\Temp\ipykernel_5068\1301127348.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r"C:\Users\lenovo\Downloads\chromedriver_win32")

In [103]:
book=[]
author=[]
volume=[]
publisher=[]
genre=[]

In [104]:
#for Book names
try :
    b=driver.find_elements(By.XPATH,'//td[@class="left"]')
    for i in b[1:500:5]:
        book.append(i.text)
except NoSuchElementException :
    book.append('-')
#for author name
try :
    a=driver.find_elements(By.XPATH,'//td[@class="left"]')
    for i in a[2:500:5]:
        author.append(i.text)
except NoSuchElementException :
    author.append('-')
#for volumes sold
try :
    v=driver.find_elements(By.XPATH,'//td[@class="left"]')
    for i in v[3:500:5]:
        volume.append(i.text)
except NoSuchElementException :
    volume.append('-')
#for Publisher name
try :
    p=driver.find_elements(By.XPATH,'//td[@class="left"]')
    for i in p[4:500:5]:
        publisher.append(i.text)
except NoSuchElementException :
    publisher.append('-')
#for genre
try :
    g=driver.find_elements(By.XPATH,'//td[@class="left"]')
    for i in g[5:500:5]:
        genre.append(i.text)
except NoSuchElementException :
    genre.append('-')
# As we are using xpath of class for everthing but for genre the last book's class is different therefore we will scrape it separatly
gg=driver.find_element(By.XPATH,'//*[@id="table-cell-10943-99-5"]')
genre.append(i.text)

In [106]:
df=pd.DataFrame({'Book name':book,'Author name':author,'Volumes sold':volume,'Publisher':publisher,'Genre':genre})

In [107]:
df

,Book name,Author name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,2
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,3
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,4
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,5
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,6
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,97
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,98
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,99
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,100
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,100

### 7. Scrape the details most watched tv series of all time from imdb.com.
### Url = https://www.imdb.com/list/ls095964455/
### You have to find the following details:
### A) Name
### B) Year span
### C) Genre
### D) Run time
### E) Ratings
### F) Votes

In [108]:
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup

#Importing selenium webdriver
from selenium import webdriver

from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException

import requests
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import Select

In [140]:
#Connecting to driver
driver=webdriver.Chrome(r"C:\Users\lenovo\Downloads\chromedriver_win32")

#Visiting the website
driver.get('https://www.imdb.com/list/ls095964455/')

C:\Users\lenovo\AppData\Local\Temp\ipykernel_5068\2947319525.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r"C:\Users\lenovo\Downloads\chromedriver_win32")

In [150]:
Name=[]
Year=[]
Genre=[]
Time=[]
Rating=[]
Votes=[]

In [151]:
#for Series names
try :
    name=driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]/a')
    for i in name:
        Name.append(i.text)
except NoSuchElementException :
    Name.append('-')
#for Series year
try :
    year=driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]/span')
    for i in year[1:200:2]:
        Year.append(i.text)
except NoSuchElementException :
    Year.append('-')
#for Series genre
try :
    genre=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/p/span[5]')
    for i in genre:
        Genre.append(i.text)
except NoSuchElementException :
    Genre.append('-')
#for Series Time
try :
    time=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/p/span[3]')
    for i in time:
        Time.append(i.text)
except NoSuchElementException :
    Time.append('-')
#for Series Rating
try :
    rating=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/div/div/span[2]')
    for i in rating:
        Rating.append(i.text)
except NoSuchElementException :
    Rating.append('-')
#for Series Votes
try :
    votes=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/p[4]/span[2]')
    for i in votes:
        Votes.append(i.text)
except NoSuchElementException :
    Votes.append('-')

In [152]:
df=pd.DataFrame({'Name':Name,'Year Span':Year,'Genre':Genre,'Runtime':Time,'Voting':Votes,'Ratings':Rating})

In [153]:
df

,Name,Year Span,Genre,Runtime,Voting,Ratings
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,"2,162,986",9.2
1,Stranger Things,(2016–2022),"Drama, Fantasy, Horror",51 min,"1,242,938",8.7
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,"1,027,535",8.1
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,"302,259",7.5
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,"261,371",7.6
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,"51,691",7.4
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,"63,726",7.8
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,"207,711",8.1
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,"43,218",7
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,"258,304",8.6

### 8. Details of Datasets from UCI machine learning repositories.
### Url = https://archive.ics.uci.edu/
### You have to find the following details:
### A) Dataset name
### B) Data type
### C) Task
### D) Attribute type
### E) No of instances
### F) No of attribute
### G) Year
### Note: - from the home page you have to go to the ShowAllDataset page through code.

In [1]:
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup

#Importing selenium webdriver
from selenium import webdriver

from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException

import requests
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import Select

In [2]:
#Connecting to driver
driver=webdriver.Chrome(r"C:\Users\lenovo\Downloads\chromedriver_win32")

#Visiting the website
driver.get('https://archive.ics.uci.edu/')

C:\Users\lenovo\AppData\Local\Temp\ipykernel_9712\897034582.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r"C:\Users\lenovo\Downloads\chromedriver_win32")

In [5]:
product_url=[]
url=driver.find_elements(By.XPATH,'//span[@class="normal"]/a')
for i in url[9:33]:
    product_url.append(i.get_attribute('href'))

In [16]:
Name=[]
Datatype=[]
Task=[]
Attributetype=[]
Instances=[]
Attribute=[]
Year=[]

In [17]:
for i in product_url:
    driver.get(i)
    time.sleep(1)
    #For name
    try:
        name=driver.find_element(By.XPATH,'/html/body/table[2]/tbody/tr/td/table[1]/tbody/tr/td[1]/p[1]/span[1]/b')
        Name.append(name.text)
    except NoSuchElementException :
        Name.append('-')
    #For DataType
    try:
        datatype=driver.find_element(By.XPATH,'/html/body/table[2]/tbody/tr/td/table[2]/tbody/tr[1]/td[2]/p')
        Datatype.append(datatype.text)
    except NoSuchElementException :
        Datatype.append('-')
    #For Task
    try:
        task=driver.find_element(By.XPATH,'/html/body/table[2]/tbody/tr/td/table[2]/tbody/tr[3]/td[2]/p')
        Task.append(task.text)
    except NoSuchElementException :
        Task.append('-')
    #For Attributetype
    try:
        attributetype=driver.find_element(By.XPATH,'/html/body/table[2]/tbody/tr/td/table[2]/tbody/tr[2]/td[2]/p')
        Attributetype.append(attributetype.text)
    except NoSuchElementException :
        Attributetype.append('-')
    #For Instances
    try:
        instances=driver.find_element(By.XPATH,'/html/body/table[2]/tbody/tr/td/table[2]/tbody/tr[1]/td[4]/p')
        Instances.append(instances.text)
    except NoSuchElementException :
        Instances.append('-')
    #For Attribute
    try:
        attribute=driver.find_element(By.XPATH,'/html/body/table[2]/tbody/tr/td/table[2]/tbody/tr[2]/td[4]/p')
        Attribute.append(attribute.text)
    except NoSuchElementException :
        Attribute.append('-')
     #For Year
    try:
        year=driver.find_element(By.XPATH,'/html/body/table[2]/tbody/tr/td/table[2]/tbody/tr[2]/td[6]/p')
        Year.append(year.text)
    except NoSuchElementException :
        Year.append('-')

In [20]:
df=pd.DataFrame({'Dataset Name':Name,'Data Type':Datatype,'Task':Task,'Attribute Type':Attributetype,'No of Instances':Instances,'No of Attributes':Attribute,'Year':Year})

In [21]:
df

,Dataset Name,Data Type,Task,Attribute Type,No of Instances,No of Attributes,Year
0,9mers from cullpdb Data Set,Sequential,"Classification, Regression",Real,158716,4,2021-05-25
1,TamilSentiMix Data Set,N/A,Classification,N/A,15744,N/A,2021-05-18
2,Accelerometer Data Set,Multivariate,"Classification, Regression","Integer, Real",153000,5,2021-05-02
3,Synchronous Machine Data Set Data Set,Multivariate,Regression,Real,557,5,2021-04-21
4,Synchronous Machine Data Set Data Set,Multivariate,Regression,Real,557,5,2021-04-21
5,Pedal Me Bicycle Deliveries Data Set,Time-Series,Regression,Real,36,15,2021-04-20
6,Wikipedia Math Essentials Data Set,Time-Series,Regression,Real,731,1068,2021-04-20
7,Wikipedia Math Essentials Data Set,Time-Series,Regression,Real,731,1068,2021-04-20
8,Turkish Headlines Dataset Data Set,Text,"Classification, Clustering",N/A,4200,7,2021-04-14
9,Secondary Mushroom Dataset Data Set,Univariate,Classification,Real,61069,21,2021-04-11
10,Power consumption of Tetouan city Data Set,"Multivariate, Time-Series",Regression,"Integer, Real",52417,9,2021-04-03
11,Iris Data Set,Multivariate,Classification,Real,150,4,1988-07-01
12,Adult Data Set,Multivariate,Classification,"Categorical, Integer",48842,14,1996-05-01
13,Dry Bean Dataset Data Set,Multivariate,Classification,"Integer, Real",13611,17,2020-09-14
14,Heart Disease Data Set,Multivariate,Classification,"Categorical, Integer, Real",303,75,1988-07-01
15,Wine Quality Data Set,Multivariate,"Classification, Regression",Real,4898,12,2009-10-07
16,Wine Data Set,Multivariate,Classification,"Integer, Real",178,13,1991-07-01
17,Bank Marketing Data Set,Multivariate,Classification,Real,45211,17,2012-02-14
18,Breast Cancer Wisconsin (Diagnostic) Data Set,Multivariate,Classification,Real,569,32,1995-11-01
19,Rice (Cammeo and Osmancik) Data Set,Multivariate,Classification,Real,3810,8,2019-10-06
20,Car Evaluation Data Set,Multivariate,Classification,Categorical,1728,6,1997-06-01
21,Raisin Dataset Data Set,Multivariate,Classification,"Integer, Real",900,8,2021-04-01
22,Restaurant & consumer data Data Set,Multivariate,N/A,N/A,138,47,2012-08-04
23,-,-,-,-,-,-,-